body{
	background:#f9f6f1;
}

.wrapper {
	margin-top:0px;
    padding-left: 5em;
    background-color: transparent;
}


.toolbar {
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    background-color: transparent;
    line-height: 58px;
}

.menu-button {
  position: relative;
  margin: 0px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}
.menu-button:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 3px;
  border-top: 6px solid blue;
  border-bottom: 17px double blue;
  width: 30px;
  height: 28px;
}

.menu-left {
  float: left;
  margin-right: 1.5em;
}

.sidebar {
    margin: 0;
    padding-top: 0;
    color:black;
    background-color:#b0c4de;
}

.sidebar h6 {
    margin: 0 .8em;
    padding: 0;
    font-weight:300;
}

.sidebar li {
    margin: .5em 0;
    padding: 0 1em;
    line-height: 32px;
}

.sidebar li:hover {
    background-color: #e84e40;
}

#childone,#childtwo,#childthree{
	padding: 3em;
}
#one h4,#two h4,#three h4{
	background-color:#c0c0c0;
	margin-bottom:1em;
	line-height:1em;
	
}
#one a,#two a,#three a{
text-decoration:none;
	
}